
<link rel="stylesheet" href="~/css/template/unauthorized.css"/>

<div class="page-container container">
    <div class="scene">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <span class="bg-403">403</span>
        <div class="text">
            <span class="hero-text"></span>
            <span class="msg">acesso <span>não autorizado</span>.</span>
            <span class="support">
                <span>necessita ajuda?</span>
                <a href="#">contacte-nos</a>
            </span>
        </div>
        <div class="lock"></div>
    </div>
</div>