@{
    ViewBag.Title = "404";
}

<link href="~/css/template/page_not_found.css" rel="stylesheet" />

<div id="main-404">
    <div class="fof">
        <h1>Erro 404</h1>
        <p><strong>Desculpe, página não encontrada.</strong></p>
    </div>
</div>
