
<link rel="stylesheet" href="~/css/sidebar/sidebar_customer.css" />

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Meus dados</div>
        <div class="list-group list-group-flush">
            <a href="/cliente" class="list-group-item list-group-item-action bg-light">Conta</a>
            <a href="/cliente/enderecos" class="list-group-item list-group-item-action bg-light">Endereços</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Pedidos</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Carrinho</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="btn btn-outline-secondary" id="menu-toggle">Alternar menu</button>
        </nav>

        <div class="container-fluid">
            <h5 class="mt-4">Minha conta</h5>
            <p>O conteúdo desta seção ainda será definido.</p>
        </div>
    </div>

</div>

<script src="~/js/animations/customer_sidebar.js"></script>