@model HeavensHall.Commerce.Web.Models.UserCredentialsModel;

<div class="container page-container">
    <form method="POST" asp-controller="conta" asp-action="autenticar" class="w-25 m-auto pt-5">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="email" asp-for="Email" class="form-control" required />
            <label class="form-label" asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" asp-for="Password" class="form-control" required />
            <label class="form-label" asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           asp-for="RememberMe"
                           checked />
                    <label class="form-check-label" asp-for="RememberMe"></label>
                </div>
            </div>
            <div class="col">
                <a href="#!">Esqueceu a senha?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

        <div class="text-center">
            <p>Não possui conta? 
            <a href="/conta/novo-cliente">Cadastre-se</a></p>
        </div>
    </form>
</div>

@section Scripts { @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } }